body {
    margin: 0;
    padding: 0;
    background-color: yellow;
}

.title {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 6px black;

}
.graph {
    display: flex;
    width: 99%;
    height: 40vh;
    /* background-color: rgb(234, 226, 218); */
    position: relative;
    border-bottom: 1px solid;
    border-top: 1px solid;
    align-items: end;


}

.bar {
    background-color: black;
    width: 1px;
    height: 10px;
    background-color: green;
}
.buttons{
    display: flex;
    justify-content: space-between;
}

.button {
    background-color: brown;
    width: 10vw;
    color: white;
    font-weight: 500;
    font-size: x-large;
    border-radius: 1rem;
    /* height: 3vh; */
    padding: 0.5rem;
    text-align: center;
    margin: 2vh;
    cursor: pointer;
}
.button:hover{
    color: white;
    background-color: red;
}
.button:active{
    color: white;
    background-color: red;
}  

.directions{
    margin: 2vh;
}
.directions li{
    font-size: large;
    font-weight: 600;
}
footer{
    position: absolute;
    bottom: 0;
 width: 100%;
 text-align: center;
}
footer a{
    font-size: large;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
footer a:hover{
    color: blue;
}